.profile__add-button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  transition: all .5s;
}

.profile__add-button:focus {
  outline: 0;
}

.profile__add-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 130px;
    height: 45px;
  }
}

@media screen and (max-width: 620px) {
  .profile__add-button {
    margin-top: 36px;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .profile__add-button {
    margin-top: 28px;
  }
}